body {
    font-family: 'Open Sans', sans-serif;
    color: #78809e;
    line-height: 26px;
    font-size: 16px;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.5px;
    line-height: 1.1;
    color: #192B59;
    max-width: 600px;
    margin-bottom: 65px;
}
a {
    text-decoration: none;
}
.title-h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192B59;
    line-height: 1.2;
    letter-spacing: -1.5px;

}
.title-h2 span {
    display: block;
    font-size: 16px;
    font-weight: 800;
    color: #4c84e0;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.title-40 {
    font-weight: 600;
    color: #192B59;
    line-height: 1.2;
    font-size: 40px;
    letter-spacing: -1.1px;

}
.title-40 span {
    display: block;
    font-size: 18px;
    font-weight: 800;
    color: #4c84e0;
    margin-bottom: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;

}
.page-stat .title-h2, .page-screen .title-h2 {
    text-align: center;
    margin: 0 auto;
}
.page-stat .title-h2 {
    max-width: 500px;
}


.wrap {
    max-width: 1100px;
    margin: 0 auto;
}
.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 305px;
}
.logo{
    display: block;
    background-image: url(../img/logo.png);
    width: 181px;
    height: 49px;
}
.nav {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav > li{
    padding: 0 20px ;
}

.nav-item{
    color: #6e7ea9;
    letter-spacing: 2px;
}
.screen-img {
    display: block;
    background-image: url(../img/header-screen.png);
    background-repeat: no-repeat;
    width: 916px;
    height: 740px;
    position: absolute;
    right: 0;
    top:189px;
}
.btn-primary {
    background-color: #4c84e0;
    border: 1px solid #4c84e0;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius:30px;
}
.btn-primary:hover {
    color: #4c84e0;
    background-color: transparent;
}

.btn-secondary{
    background-color: #cedae7;
    border: 1px solid #cedae7;
    color: #8089ab;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius:30px;
}
.btn-secondary:hover {
    background-color: #ffffff;
}
.btn-free {
    font-weight: 400;
    padding: 20px 56px;
    letter-spacing: 1.7px;
}
.btn-info {
    background-color: transparent;
    border: 1px solid #dde1e5;
    color: #8084ae;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius:30px;
}
.btn-info:hover {
    color:#ffffff;
    background-color:#94b4cc;
    border: 1px solid #94b4cc;
}

.btn-group a+a {
    margin-left: 15px;
}
.list-company {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
.list-company-item {
    display: block;

}
.company-1 {
    background-image: url(../img/company-1.png);
    flex-basis: 198px;
    height: 58px;
}
.company-2 {
    background-image: url(../img/company-2.png);
    flex-basis: 200px;
    height: 69px;
}
.company-3 {
    background-image: url(../img/company-3.png);
    flex-basis: 201px;
    height: 47px;
}
.company-4 {
    background-image: url(../img/company-4.png);
    flex-basis: 200px;
    height: 69px;
}


.grid h2{
    font-size: 40px;
    color: #192B59;
    font-weight: 700;

}
.grid h2 span {
    color: #4d84e0;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    display: block;
}
.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color: #192B59;
}
.grid-item a {
    font-size: 14px;
    color: #588ce2;
    font-weight: 600;
}

.list-stat {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 76px;
}
.list-stat >li {
    font-size: 12px;
    font-weight: 700;
    color: #4c84e0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.7px;

}
.list-stat >li > span {
    display: block;
    color: #bdc9da;
    font-size: 60px;
    margin-bottom: 23px;
    letter-spacing: 0;
}

.screen {
    margin-top:36px;
    margin-bottom: -7px;
}

.box-subscribe h2 {
    /*padding-top: 65px;*/
}

.box-subscribe h2, .box-subscribe p {
    color: #ffffff;
}
.box-subscribe h2 span {
    color: #6bbefc;
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}

.box-subscribe {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}
.box-subscribe img{
    padding-top: 40px;
    padding-bottom: 40px;
}

.box-subscribe-user {
    position: relative;
}

.box-subscribe-text {
    font-size: 18px;
    max-width: 437px;
}

.box-subscribe-user .btn-primary{
    position: absolute;
    top:9px;
    right: 8px;
    padding: 17px 50px;

}
.box-subscribe-child {
    flex-basis: 49%;
}
.box-subscribe-user input{
    background: transparent;
    border: 2px solid #4f5dad;
    border-radius: 45px;
    color: #ffffff;
    font-size: 14px;
    padding: 25px 230px 25px 37px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}


.box-subscribe-user input:focus, .box-subscribe-user .btn-primary {
    outline: none;
}
.box-subscribe-user input::-webkit-input-placeholder {color:#b1c3ee;}
.box-subscribe-user input::-moz-placeholder          {color:#b1c3ee;}
.box-subscribe-user input:-moz-placeholder           {color:#b1c3ee;}
.box-subscribe-user input:-ms-input-placeholder      {color:#b1c3ee;}



.box-price{
    display: flex;
    justify-content: space-between;
    padding-left: 14px;
}
.box-price-item {
    background-color: #f6faff;
    flex-basis: 32%;
    position: relative;
    padding: 74px 0 58px 0;
}
.box-price-item.active {
    background-color: #242f58;
    color: #ffffff;
}
.box-price-item ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 59px;
    margin-top: 34px;
    font-size: 14px;
}
.box-price-item ul>li {
    margin-bottom: 14px;
}
.box-price-item h3 {
    font-size: 70px;
    color: #192B59;
    font-weight: 700;
    margin-top:0;
    margin-bottom: 15px;
    letter-spacing: -1px;
}
.box-price-item.active h3 {
    color: #ffffff;
}
.box-price-item h3 span {
    font-size: 20px;
}
.box-price-item h3 span+span {
    color: #7f89af;
}

.box-price-item p {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    color: #4a83fb;
}
.box-price-item:first-child h3 {
    margin-bottom: 35px;
}
.box-price-item.active p {
    color: #ffffff;
}
.box-price-item::after {
    content: "";
    width: 57px;
    height: 100%;
    background-image: url(../img/triangle.svg);
    position: absolute;
    top:0;
    right: 0;
}
.box-price-item.active::after {
    display: none;
}


/* PAGE */
.page-header {
    background-image: url(../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 53px 0 300px 0;
    position: relative;
}
.page-company {
    background-image: url(../img/company-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 106px 0 99px 0;
}
.page-stat, .page-screen  {
    background-color: #eff6ff;
}
.page-stat{
    padding: 116px 0 96px 0;
}
.page-plan,.page-screen {
    text-align: center;
}
.page-screen {
    padding: 116px 0 0 0;
}

.page-subscribe {
    background: rgba(25, 37, 140, 1);
    background: -moz-linear-gradient(-45deg, rgba(25, 37, 140, 1) 0%, rgba(73, 118, 201, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(25, 37, 140, 1)), color-stop(100%, rgba(73, 118, 201, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(25, 37, 140, 1) 0%, rgba(73, 118, 201, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(25, 37, 140, 1) 0%, rgba(73, 118, 201, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(25, 37, 140, 1) 0%, rgba(73, 118, 201, 1) 100%);
    background: linear-gradient(135deg, rgba(25, 37, 140, 1) 0%, rgba(73, 118, 201, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#19258c', endColorstr='#4976c9', GradientType=1);
    position: relative;
}